<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <gui>
        <plugin name="keyboard" filename="libKeyboardGUIPlugin.so"/>
    </gui>
    <gazebo>
        <plugin filename="libSimpleTrackedVehiclePlugin.so" name="simple_tracked_vehicle">
            <body>base_link</body>
            <left_track>left_track</left_track>
            <right_track>right_track</right_track>
            <topic>/cmd_vel</topic>
            <tracks_separation>0.571</tracks_separation>
            <track_mu>2</track_mu>
            <track_mu2>0.5</track_mu2>
        </plugin>
        <plugin filename="libKeysToCmdVelPlugin.so" name="keyboard_control">
            <publish_as_twist>true</publish_as_twist>
            <cmd_vel_topic>~/simple_tracked/cmd_vel_twist</cmd_vel_topic>
        </plugin>
    </gazebo>


</robot>